
.container{
    margin: 56px !important;
}

.completed{
    background-color: green;
    padding: 0 6px;
    height: fit-content;
    margin: auto 0;
    border-radius: 4px;
    color: white;
}

.pending{
    background-color: red;
    padding: 0 6px;
    height: fit-content;
    margin: auto 0;
    border-radius: 4px;
    color: white;
}

.TodoLi{
    text-align: left;
    width: 50%;
    margin-top: 6px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid rgb(248, 249, 180);
    border-radius: 10px;
    padding: 5px;
}

.content{
    width: 25%;
}